ul {
    list-style: none;
}

#photos-list img {
    height: 140px;
    width: 100%;
    overflow: hidden;
}

#photos-list li {
    margin-bottom: 10px;
}

#wrapper {
    margin-top: 80px;
}

.comment {
    min-height: 85px;
}

.comment-info {
    float: left;
    width: 80%;
    overflow: hidden;
}

.comment button {
    position: absolute;
    bottom: 12px;
    right: 5px;
}

.comment-info>a {
    display: block;
    position: absolute;
    bottom: 0px;
}

.comment-content {
    padding-bottom: 10px;
    word-wrap: break-word;
}

.category {
    height: 55px;
}

.category button {
    float: right;
    margin-right: 5px;
}

.category-info {
    float: left;
    width: 50%;
}

.category-name {
    margin-top: 5px;
}

.album {
    height: 55px;
}

.album button {
    float: right;
    margin-right: 5px;
}

.album-info {
    float: left;
    width: 50%;
}

.album-name {
    margin-top: 5px;
}

.likes-info {
    padding: 15px 0px;
}

#likes-count {
    font-size: 15px;
}
