<h3>Categories: </h3>
<a href="#/categories/new">Add category</a>
<ul id="categories-list">
    {{#results}}
    <li class="category" data-id="{{objectId}}" data-name="{{name}}">
        <div class="category-info">
            <p class="category-name">{{name}}</p>
        </div>
        <a href="#/categories/edit/{{objectId}}">
            <button class="edit-button">Edit</button>
        </a>
        <a href="#/categories/delete/{{objectId}}">
            <button class="delete-button">Delete</button>
        </a>
        <a href="#/albums/{{objectId}}">
            <button class="show-button">Show albums</button>
        </a>
    </li>
    {{/results}}
</ul>
