<div class="page-header">
    <h1 class="col-xs-offset-2">Edit category</h1>
</div>
<div class="col-xs-8 col-xs-offset-2">
    <form action="#/categories/update/{{objectId}}" method="PUT">
        <fieldset>
            <div class="form-group">
                <label for="category-name">Category name</label>
                <input type="text" id="category-name" name="category-name" class="form-control" value="{{name}}">
            </div>
            <input type="submit" value="Edit" class="btn btn-default"/>
        </fieldset>
    </form>
</div>