<h3 class="col-xs-8 col-xs-offset-2">Your most liked photos: </h3>
<div class="col-xs-8 col-xs-offset-2">
    <ul id="photos-list" class="list-inline">
        {{#result}}
        <li class="col-xs-2">
            <a href="#/photos/show/{{objectId}}">    
                <div class="photo-info">
                    <p class="photo">{{#picture}}<img src="{{url}}" class="img-thumbnail">{{/picture}}</p>
                </div>
            </a>
            <span class="badge">{{#likes}}{{likes}}{{/likes}}{{^likes}}0{{/likes}} Likes</span>
        </li>
        {{/result}}
    </ul>
</div>