<h2>
{{#results.0}}
    {{#albumId}}
        {{name}}
    {{/albumId}}
{{/results.0}}
</h2>
<h3>Photos: </h3>
<ul id="photos-list">
    {{#results}}
    <li class="album">
        <a href="#/photos/show/{{objectId}}">    
            <div class="photo-info">
                <p class="photo">{{#picture}}<img src="{{url}}">{{/picture}}</p>
            </div>
        </a>
        <a href="#/photos/delete/{{objectId}}">
            <button class="delete-button">Delete</button>
        </a>
    </li>
    {{/results}}
</ul>
{{#pageInfo}}
    <a href="#/photos/showalbum/{{#results.0}}{{#albumId}}{{objectId}}{{/albumId}}{{/results.0}}/{{prevPage}}}">prev</a>
    <a href="#/photos/showalbum/{{#results.0}}{{#albumId}}{{objectId}}{{/albumId}}{{/results.0}}/{{nextPage}}}">next</a>
{{/pageInfo}}