{{#photo}}
{{#albumId}}<a href="#/photos/showalbum/{{objectId}}/1">Back to album</a>{{/albumId}}
<div class="photo-info">
    <p class="photo-name">{{name}}</p>
    <p class="photo">{{#picture}}<img src="{{url}}">{{/picture}}</p>
</div>
{{#showButtons}}
<a href="#/photos/delete/{{objectId}}/{{#albumId}}{{objectId}}{{/albumId}}">
    <button class="delete-button">Delete</button>
</a>
{{/showButtons}}
<a href="{{#picture}}{{url}}{{/picture}}" download>
    <button>Download</button>
</a>
{{/photo}}
