<div class="page-header">
    <h1 class="col-xs-offset-2">Edit album</h2>
</div>
<div class="col-xs-8 col-xs-offset-2">
    <form action="#/albums/update/{{objectId}}" method="PUT">
        <fieldset>
            <div class="form-group">
                <label for="album-name">Album name</label>
                <input type="text" id="album-name" name="album-name" class="form-control" value="{{name}}">
            </div>
            <input type="submit" value="Edit" class="btn btn-default"/>
            <input type="hidden" value="{{#categoryId}}{{objectId}}{{/categoryId}}" name="category-id">
        </fieldset>
    </form>
</div>